<%- include('./partials/method-head') %> 

<section class="section-details section-description">
    <p class="p-method-description">Met deze werkvorm kan je studenten laten terugblikken en na laten denken over de negative en positieve aspecten van deze periode.
     De retrospect kan schematisch maar ook in de vorm van een metafoor worden getekend.
    </p>
    </section>

    <section class="section-details section-sources">
        <% method.sources.forEach(source => { %>   
            <h5 class="header-source"> <%= source.title %> </h5>
            <a href="<%= source.url %>" class="source-link"> <%= source.url %> </a>
         <% }) %> 
    </section>

    
<%- include('./partials/foot') %>