<%- include('./partials/head') %> 
<% methods.forEach(method => { %>
<article>
  <h2><%= method.title %></h2>

    <% method.categories.forEach(category => { %>
    <p> <%= category.title %> </p>    
    <% }) %> 

  <img src="<%= method.template?.url %>" class="templates" alt="foto van deze werkvorm" />
</article>
<% }) %> 

<%- include('./partials/foot') %>