<%- include('./partials/head') %> 

<h1>Overzicht werkvormen</h1>


<main class="layout">

  <% methods.forEach(method => { %>
  <article>
    <h2><%= method.title %></h2>
    <img src="<%= method.template?.url %>" class="template" alt="foto van <%= method.title %>" />
    <% method.categories.forEach(category => { %>
      <span class="categories-hidden"> <%= category.title %> </span>    
      <% }) %> 
  </article>
  <% }) %> 
  
</main>

<%- include('./partials/foot') %>